<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Blank page <small>it all starts here</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Danh Sách Sản Phẩm</h3>
						<div>
							<a class="btn btn-success" href="product-add"> Thêm Mới Sản
								Phẩm </a>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div id="example1_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6">
									<div class="dataTables_length" id="example1_length">
										<label>Show <select name="example1_length"
											aria-controls="example1" class="form-control input-sm"><option
													value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option></select> entries
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div id="example1_filter" class="dataTables_filter">
										<label>Search:<input type="search"
											class="form-control input-sm" placeholder=""
											aria-controls="example1"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table id="example1"
										class="table table-bordered table-striped dataTable"
										role="grid" aria-describedby="example1_info">
										<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0"
													aria-controls="example1" rowspan="1" colspan="1"
													aria-sort="ascending"
													aria-label="Product ID: activate to sort column descending"
													style="width: 80px;">Product ID</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Description: activate to sort column ascending"
													style="width: 267px;">Description</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Images: activate to sort column ascending"
													style="width: 236px;">Images</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Price: activate to sort column ascending"
													style="width: 130px;">Price</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Product Name: activate to sort column ascending"
													style="width: 134px;">Product Name</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Stock: activate to sort column ascending"
													style="width: 50px;">Stock</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Category ID: activate to sort column ascending"
													style="width: 100px;">Category Name</th>
												<th class="sorting" tabindex="0" aria-controls="example1"
													rowspan="1" colspan="1"
													aria-label="Action: activate to sort column ascending"
													style="width: 50px;">Action</th>
											</tr>

											<tr th:each="product : ${list}">
												<td th:text="${product.productId}"></td>
												<td th:text="${product.description}"></td>
												<td th:text="${product.image}"></td>
												<td th:text="${product.price}"></td>
												<td th:text="${product.productName}"></td>
												<td th:text="${product.stock}"></td>
												<td th:text="${product.category.categoryName}"></td>
												<td><a
													th:href="@{/admin/product-edit/{productId}(productId=${product.productId})}"
													class="btn btn-success"> Edit</a> <a
													th:href="@{/admin/product-delete/{productId}(productId=${product.productId})}"
													onclick="return confirm('Bạn có chắc chắn không')"
													class="btn btn-danger"> Delete</a></td>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="dataTables_info" id="example1_info" role="status"
										aria-live="polite">Showing 1 to 10 of 57 entries</div>
								</div>
								<div class="col-sm-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button previous disabled"
												id="example1_previous"><a href="#"
												aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li>
											<li class="paginate_button active"><a href="#"
												aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
											<li class="paginate_button "><a href="#"
												aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
											<li class="paginate_button "><a href="#"
												aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
											<li class="paginate_button "><a href="#"
												aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
											<li class="paginate_button "><a href="#"
												aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
											<li class="paginate_button "><a href="#"
												aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
											<li class="paginate_button next" id="example1_next"><a
												href="#" aria-controls="example1" data-dt-idx="7"
												tabindex="0">Next</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="admin/fragments/footer :: footer"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
