<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Quản Lý Đơn Hàng <small>Xem các đơn hàng</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/admin"><i class="fa fa-dashboard"></i> Trang
							chủ</a></li>
					<li class="active">Danh sách đơn hàng</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Danh Sách Đơn Hàng</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div id="example1_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">

								<div class="col-sm-6">
									<form th:action="@{/admin/order}" method="get">
										<div>
											<label for="username">Tìm theo Username:</label> <input
												type="text" id="username" name="username"
												placeholder="Nhập username">
										</div>
										<div>
											<label for="date">Tìm theo Date:</label> <input type="date"
												id="date" name="date">
										</div>
										<button type="submit">Tìm kiếm</button>
									</form>

								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table id="example1"
										class="table table-bordered table-striped dataTable"
										role="grid" aria-describedby="example1_info">
										<thead>
											<tr role="row">
												<th style="width: 80px;">Order ID</th>
												<th style="width: 150px;">Date</th>
												<th style="width: 130px;">Total Price</th>
												<th style="width: 100px;">User Name</th>
												<th style="width: 150px;">Address</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${orderPage.content}">
												<td th:text="${order.orderId}"></td>
												<td th:text="${order.date}"></td>
												<td th:text="${order.totalPrice}"></td>
												<td th:text="${order.user.username}"></td>
												<td th:text="${order.address}"></td>
										</tbody>
									</table>

									<!-- Phần phân trang -->
									<div>
										<ul class="pagination">
											<!-- Nút Previous -->
											<li th:classappend="${currentPage == 0} ? 'disabled'"><a
												th:if="${currentPage > 0}"
												th:href="@{/admin/order(page=${currentPage - 1}, size=${size})}"
												aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											</a> <span th:if="${currentPage == 0}" aria-hidden="true">&laquo;</span>
											</li>

											<!-- Số trang -->
											<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
												th:classappend="${i == currentPage} ? 'active'"><a
												th:href="@{/admin/order(page=${i}, size=${size})}"
												th:text="${i + 1}"></a></li>

											<!-- Nút Next -->
											<li
												th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
												<a th:if="${currentPage + 1 < totalPages}"
												th:href="@{/admin/order(page=${currentPage + 1}, size=${size})}"
												aria-label="Next"> <span aria-hidden="true">&raquo;</span>
											</a> <span th:if="${currentPage + 1 == totalPages}"
												aria-hidden="true">&raquo;</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row"></div>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="admin/fragments/footer :: footer"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="admin/fragments/script :: script"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script src="/js/mainjs.js"></script>
</body>
</html>
