<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Quản Lý Đơn Hàng <small>Xem chi tiết các đơn hàng</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
					<li><a href="#">Quản lý</a></li>
					<li class="active">Danh sách đơn hàng</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Danh Sách Đơn Hàng</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div id="example1_wrapper"
							class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-6">
									<div class="dataTables_length" id="example1_length">
										<label>Hiển thị <select name="example1_length"
											aria-controls="example1" class="form-control input-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
										</select> mục
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div id="example1_filter" class="dataTables_filter">
										<label>Tìm kiếm:<input type="search"
											class="form-control input-sm" placeholder=""
											aria-controls="example1"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<table id="example1"
										class="table table-bordered table-striped dataTable"
										role="grid" aria-describedby="example1_info">
										<thead>
											<tr role="row">
												<th style="width: 80px;">Order ID</th>
												<th style="width: 150px;">Date</th>
												<th style="width: 130px;">Total Price</th>
												<th style="width: 100px;">Name</th>
												<th style="width: 100px;">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${list}">
												<td th:text="${order.orderId}"></td>
												<td th:text="${order.date}"></td>
												<td th:text="${order.totalPrice}"></td>
												<td th:text="${order.user.username}"></td>
												<td><a class="btn btn-primary btn-sm"
													th:href="@{/order/order-detail/view/{orderId}(orderId=${order.orderId})}">Xem
														chi tiết</a></td>
										</tbody>
										<tfoot>
											<tr>
												<th>Order ID</th>
												<th>Date</th>
												<th>Total Price</th>
												<th>User ID</th>
												<th>Action</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="dataTables_info" id="example1_info" role="status"
										aria-live="polite">Hiển thị 1 đến 10 của 57 mục</div>
								</div>
								<div class="col-sm-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button previous disabled"
												id="example1_previous"><a href="#"
												aria-controls="example1" data-dt-idx="0" tabindex="0">Trước</a></li>
											<li class="paginate_button active"><a href="#"
												aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
											<li class="paginate_button "><a href="#"
												aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
											<li class="paginate_button next" id="example1_next"><a
												href="#" aria-controls="example1" data-dt-idx="7"
												tabindex="0">Tiếp</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="admin/fragments/footer :: footer"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
